<div class="jumbotron">
<h1 class="display-4">The Gossip Project</h1>
<p class="lead">Création de ma fiche perso !!</p>
</div>
<%= link_to 'retour à la liste', gossips_path, class: "btn btn-primary btn-sm btn-block" %>

<div class="container mt-5 form-group">
  <%= form_for @user do |f| %>
    <div>
      <label><strong>Nom :</strong></label>
      <%= f.text_field :last_name, class:"form-control" %>
      <br /> 
    </div>
    <div>
      <label><strong>Prénom :</strong></label>
      <%= f.text_field :first_name, class:"form-control" %>
      <br /> 
    </div>
    <div>
      <label><strong>age :</strong></label>
      <%= f.text_field :age, class:"form-control" %>
      <br /> 
    </div>
    <div>
      <label><strong>description :</strong></label>
      <%= f.text_area :description, class:"form-control" %>
      <br /> 
    </div>
    <div>
      <label><strong>Email :</strong></label>
      <%= f.text_field :email, class:"form-control" %>
      <br /> 
    </div>
    <div>
      <label><strong>Mot de pass :</strong></label>
      <%= f.password_field :password_digest, class:"form-control" %>
      <br /> 
    </div>
        <div>
      <label><strong>ville :</strong></label>
      <%= f.select :city_id, options_from_collection_for_select(@cities, 'id', 'name'), class:"form-control" %>
      <br /> 
    </div>
    <%= f.submit "Créer mon compte utilisateur", class:"btn btn-success btn-lg" %>
  <%end%>
</div>